.button {
    padding: 0.4em;
    text-align: center;
    color: var(--text-color);
    background-image: linear-gradient(-45deg, var(--background-color) 40%, var(--local-color) 50%, var(--background-color) 60%);
    background-position: 0%;
    background-size: 320%;
    cursor: pointer;
}

    .button:hover {
        background-position: 100%;
        transition: background 200ms linear;
    }

    .button:active {
        background-position: 0%;
        transition: none;
    }

    .button:disabled {
        background-image: linear-gradient(-45deg, var(--local-color) 50%, var(--background-color) 50%);
        background-position: 100%;
        cursor: default;
        transition: background 200ms linear, color 200ms linear;
    }

    .button > span {
        position: relative;
        display: inline-block;
        transform: none;
        transition: transform 200ms linear;
    }

    .button:hover > span {
        transform: translateX(-0.2em);
    }

    .button:disabled > span {
        transform: none;
    }

.color-theme-button {
    height: 3rem;
    cursor: pointer;
}

.link-button {
    height: 2rem;
}

/* Обратный порядок кнопок и обратные значения свойства flex-flow -
    это обходной путь, чтобы поместить кнопку "Играть" вверху в стучае "1 над 3" */
.nav-bar {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0.2em;
    border: 2px solid var(--local-color);
    border-radius: 0.5em;
}

.nav-bar__item {
    flex: 1 1 8rem;
    border: inherit;
    border-width: 0px 1px 1px 0px;
    border-radius: 0px;
    font-size: 1.2rem;
}
