.dicts-page-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.dicts-page-item__content {
    flex: 1 1 65%;
    display: flex;
    flex-flow: column wrap;
}

.dicts-page-item__name {
    font-size: 1.5rem;
}

.dicts-page-item__description {
    margin: 0.7em 0em;
    font-size: 1.15rem;
}

.dicts-page-item__tag {
    color: var(--secondary-color);
}

.dicts-page-item__button {
    flex: 0 0 8rem;
    width: 8rem;
    margin: 0.3em;
    border: 1px solid var(--local-color);
    border-radius: 8px;
    font-size: 1.2rem;
}
