.rules-page-item {
    display: flex;
    flex-flow: column nowrap;
}

.rules-page-item__label {
    font-size: 1.5rem;
}

.rules-page-item__number {
    font-size: 1.8rem;
    margin: 0em 1em;
}

.rules-page-item__range {
    margin: 3em 1em;
    cursor: pointer;
}
